:root {
  --prime-text-color: #757575;
  --title-text-color: #212121;
  --link-hoover-color: #2196f3;
  --background-second-color: #f5f4fa;
  --background-dark-color: #2f303a;
  --total-white-color: #ffffff;
}
body {
  background-color: var(--total-white-color);
  color: var(--prime-text-color);
  font-family: "Roboto", sans-serif;
}
.pseudo-list {
  list-style-type: none;
}
.titles {
  color: var(--title-text-color);
}

/* header */
.logo {
  font-family: "Raleway", sans-serif;
  color: var(--link-hoover-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-end {
  color: #000000;
}
.header-links,
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33px;
  letter-spacing: 0.02em;
}
.header-links {
  color: var(--title-text-color);
  text-decoration: none;
}
.header-links.currents {
  color: var(--link-hoover-color);
}
.header-links:hover,
.header-links:focus {
  color: var(--link-hoover-color);
}
.header-contacts {
  color: var(--prime-text-color);
  text-decoration: none;
}
.header-contacts:hover,
.header-contacts:focus {
  color: var(--link-hoover-color);
}

/* main primary */
.hero {
  background-color: var(--background-dark-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--total-white-color);
}
.hero-button {
  background-color: var(--link-hoover-color);
  color: var(--total-white-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.advantage-title,
.portfolio {
  display: none;
}
.advantage {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantage-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.activities-title,
.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.coding img {
  width: 370px;
  height: 294px;
}
.e-mobile img {
  width: 370px;
  height: 294px;
}

.design img {
  width: 370px;
  height: 294px;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team {
  background-color: var(--background-second-color);
}

.team-photo > li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  height: 368px;
}

/* portfolio primary */
.button-selection {
  color: var(--title-text-color);
  background-color: var(--background-second-color);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
}
.button-selection:hover,
.button-selection:focus {
  background-color: var(--link-hoover-color);
  color: var(--total-white-color);
}
.projects-link {
  text-decoration: none;
}
.projects-link > p {
  color: var(--prime-text-color);
}
.projects > li {
  width: 370px;
  height: 404px;
}
.projects .titles {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* footer */
.footer-page {
  background-color: var(--background-dark-color);
}
.location {
  color: var(--total-white-color);
  text-decoration: none;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.logo-end.logo-end-footer {
  color: var(--total-white-color);
}
.location,
.footer-contacts {
  font-style: normal;
}
.location:hover,
.location:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--link-hoover-color);
}
