:root {
  --prime-text-color: #757575;
  --title-text-color: #212121;
  --link-hoover-color: #2196f3;
  --background-second-color: #f5f4fa;
  --background-dark-color: #2f303a;
}
body {
  background-color: #ffffff;
  color: var(--prime-text-color);
  font-family: "Roboto", sans-serif;
}
.pseudo-list {
  list-style-type: none;
}
.titles {
  color: var(--title-text-color);
}

/* header */
.logo {
  font-family: "Raleway", sans-serif;
  color: var(--link-hoover-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-end {
  color: #000000;
}
.header-links,
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33px;
  letter-spacing: 0.02em;
}
.header-links {
  color: var(--title-text-color);
  text-decoration: none;
}
.header-links.currents {
  color: var(--link-hoover-color);
}
.header-links:hover,
.header-links:focus {
  color: var(--link-hoover-color);
}
.header-contacts {
  color: var(--prime-text-color);
  text-decoration: none;
}
.header-contacts:hover,
.header-contacts:focus {
  color: var(--link-hoover-color);
}

/* main primary */
.hero {
  background-color: var(--background-dark-color);
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.hero-button {
  background-color: var(--link-hoover-color);
  color: #ffffff;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.team {
  background-color: var(--background-second-color);
}

/* portfolio primary */
.button-selection {
  color: var(--title-text-color);
  background-color: var(--background-second-color);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
}
.button-selection:hover,
.button-selection:focus {
  background-color: var(--link-hoover-color);
  color: #ffffff;
}
.projects-link {
  text-decoration: none;
}
.projects-link > p {
  color: var(--prime-text-color);
}

/* footer */
.footer-page {
  background-color: var(--background-dark-color);
}
.location {
  color: #ffffff;
  text-decoration: none;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.logo-end.logo-end-footer {
  color: #ffffff;
}
